.coming-soon {
    width: 100%;
    padding: 20px;
    top: 0;
    background-color: $white;
    z-index: 1000;
    box-shadow: $standard-shadow;

    h5 {
        text-align: center;
        margin: 0;
        color: $blue;
        font-family: $primary-font;
        font-size: $font-size-text;
        font-weight: bold;
    }
}